# https://packaging.python.org/guides/using-manifest-in/

#include LICENSES/*
include LICENSE # Include LICENSE

graft src # Add all files under directories src
graft tests # Add all files under directories src

global-exclude __pycache__
global-exclude *.py[cod] # The square brackets are for matching any one of the characters, so it matches .pyc, .pyo and .pyd
